<script>
$(document).ready(function(){
  $('form#search').submit(function(){
    console.log($(this));
    var id = $(this).find('input[name=userid]').val();
    $.ajax({
        url:"http://books.nirvawolf.com/Recommendation?userid=" + id,
        type:'GET',
        success: function(data){
          //$('body').append( "Name: " + data );
          alert('fuck');
        },
        dataType: "jsonp",
        });
    return false;
    });
  });
</script>
<div class="row">
  <div class="span5 offset4">
    <table class="table table-condensed">
      <tr class="success">
        <td>1</td>
        <td>TB - Monthly</td>
        <td>01/04/2012</td>
        <td>Approved</td>
      </tr>
    </table>
  </div>
</div>